:root {
    --black: #0b090a;
    --darkgray: #161a1d;
    --darkred: #660708;
    --red: #ba181b;
    --lightred: #e5383b;
    --gray: #d3d3d3;
    --lightgray: #f5f3f4;
    --white: #ffffff;
    --tspeed: 300ms;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: var(--darkgray);
    color: var(--lightgray);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    color: var(--white);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--white);
    text-decoration: none;
    transition: all var(--tspeed);
}
a:hover {
    color: var(--lightred);
}

#header, #container, #footer {
    width: 100vw;
    background-color: var(--darkgray);
    display: flex;
}

#header {
    height: 10vh;
    align-items: center;
    justify-content: center;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--lightgray);
}

#title {
    font-size: 2rem;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    text-align: center;
}

#container {
    height: 83vh;
    flex-grow: 1;
    display: flex;
}

#navbar {
    width: 15vw;
    min-width: 15vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: var(--lightgray);
    transition: width 0.3s;
}


.elemento-nav {
    width: 100%;
    text-align: center;
    background-color: var(--red);
    padding: 1.3rem 1rem;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--lightgray);
    text-decoration: none;
    color: var(--white);
    transition: all var(--tspeed);
}
.elemento-nav:last-child {
    border-width: 1px 0 0 0;
    margin-top: auto;
}
.elemento-nav:hover {
    background-color: var(--lightgray);
    font-size: 1.3rem;
    font-weight: bold;
}


.content {
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    background-color: var(--black);
    padding: 3rem 4rem;
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 9rem 8rem 5rem 5rem;
    color: var(--darkgray);
}
.immagineBG {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title, .description {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
}

.title {
    font-size: 3rem;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 0.15rem;
    padding: 2rem;
}

.description {
    margin-top: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 15rem;
    background-color: var(--darkgray);
    padding: 2rem;
    padding-top: 0;
    border-radius: 12px;
    border: 1px solid var(--lightgray);
    margin: 1.5rem 2rem;
}
.card-img {
    width: inherit;
    border-width: 0 1px;
    border-color: var(--white);
    border-style: solid;
    border-radius: 12px 12px 0 0;
}
.nome {
    color: var(--lightgray);
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.card-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.noleggia-btn, .visita-btn {
    padding: 0.4rem 1rem;
    border-radius: 4px;
}
.noleggia-btn {
    margin-right: 1.5rem;
    background-color: var(--red);
}
.visita-btn {
    background-color: var(--lightgray);
    color: var(--black);
}
.noleggia-btn:hover, .visita-btn:hover {
    background-color: var(--black);
    color: var(--lightgray);
    cursor: pointer;
}

#footer {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: var(--lightgray);
    font-family: 'Open Sans', sans-serif;
}

#form {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
    transition: all 0.3s;
}

#noleggia {
    align-items: center;
    justify-content: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--white);
    width: 50%;
}

#form label {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

#form textarea {
    resize: none;
}

#form input, #form select {
    height: 1.4rem;
    background: none;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}

#form textarea {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--lightgray);
    padding: 0.1rem;
}
#form textarea:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#form input:last-child {
    border: 1px solid var(--gray);
    height: 2.5rem;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--gray);
}

#form input:last-child:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: var(--white);
    color: var(--white);
    cursor: pointer;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}

@media screen and (max-height: 750px) {
    #form {
        width: 75%;
    }
}

@media screen and (max-width: 750px) {
    #form {
        width: 95%;
    }

    #navbar {
        width: 30vw;
    }
}

@media screen and (min-width: 751px) and (max-width: 950px) {
    #form {
        width: 85%;
    }
}
